<nav id="kornel-navbar" class="navbar navbar-expand-lg sticky-top" style="background-color: #00134d;" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Kornel Page</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#kornel_navbar1" aria-controls="kornel_navbar1" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="kornel_navbar1">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#scrollspyCover1">Kornel</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#scrollspyCover2">Kornel</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#scrollspyCover3">Kornel</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#scrollspyCover4">Kornel</a>
        </li>
      </ul>
    </div>
  </div>
</nav>